<head>
    <% include ./includes/biqapps %>
    <script type="text/javascript" src="/node_modules/ml5/dist/ml5.min.js"></script>
    <script src="/game/lib/scenemanager.js"></script>
    <script src="/game/js/appd.js"></script>
    <script src="/game/js/intro.js"></script>
    <script src="/game/js/game.js"></script>
    <script src="/game/js/gameover.js"></script>
    <script src="/game/js/start.js"></script>
    <style>
        body{
            background-color: transparent;
        }

        #details {
            position: absolute;
            top: 0px;
            right: 0;
            left:60px;
            width: 100%;
            height: 400px;
        }

        #chart {
            opacity:.75;
            padding:2px;
        }

        #appinfo {
            opacity:.75;
            padding:2px;
        }

        #info {
            opacity:.75;
            padding:2px;
        }

    </style>
</head>

<body>
    <div id="details">
        <div class="container-fluid"> 
            <div class="row">
                <div id="appinfo" class="col-md-3"></div>
                <div id="info" class="col-md-3"></div>
                <div id="chart" class="col-md-6"></div>
            </div>
        </div>
    </div>
</body>
<script>
    function displayExceptionDetails(exception) {
        $("#details").show();
        $("#chart").empty();

        new BoxComponent({
			title:"AppDynamics Application: "+exception.eapp,
			targetId:"appinfo",
			icon:"fas fa-server",
			value:exception.eapp
		}).draw();

        new BoxComponent({
			title:exception.ecount+" Exceptions Per Minute",
			targetId:"info",
			icon:"fas fa-bug",
			value:exception.ename
        }).draw();
        
        new TimeChartComponent({
			targetId:"chart",
			title:exception.ename+" Activity Trend - Last 14",
			options:{
                intervals:14,
                bucket:"days",
                size:{width:"800",height:"300"},
                xLabel:"Exceptions Per Minute",
                max:exception.ecount
            }
		}).draw(function(selection){
			alert(JSON.stringify(selection));
        });
        
        $(".icon").css("color",exception.color);
        $(".title-2").css("color",exception.color);
    }

    function hideExceptionDetails(exception){
        $("#details").hide();
    }

    //displayExceptionDetails({eapp:"test",ename:"hello"});
</script>
