<!DOCTYPE html>
<html>
<head>
<title>BiQ App - Dashboard</title>
<meta charset="UTF-8">
<% include ./partials/theme %>

</head>
<body>
	<div class="wrapper">
		<aside class="menu-sidebar">
			<div class="logo">
				<a href="#">
					<img width="200" height="18" src="/img/AppDynamicsLogo_black.svg" alt="AppDynamics" />
				</a>
			</div>
			<div class="menu-sidebar__content js-scrollbar1">
				<nav class="navbar-sidebar">
					<ul class="nav" id="side-menu"></ul>
				</nav>
			</div>
		</aside>  
        <div class="page-container"> 
			<div class="container-fluid">    
				<!-- Main Page -->
				<div class="row">
					<div id="ErrorTotals" class="col-md-3"></div>				
				</div>
			</div>
        </div>
    </div>
</body>
<script type="text/javascript">
	//Your BiQ App Components ...
	var buildDashboard = function(){
  
    
    var query = "SELECT segments.errorList.errorCode, count(*) FROM transactions WHERE application = 'eCommerceHacky' AND userExperience = 'ERROR'";
    search({query:query},function(data){
        console.log(data);
    });
    
	
  }
  
  new FilterComponent({
			targetId:"side-menu",
			filters:[{
				label:"Error",
				id:"idError",
				adqlField :"<field name required>",
				query:""
			}]
		}).draw(function(filters){
            buildDashboard();
    });		
    

</script>
</html>
