<!DOCTYPE html>
<html>
<head>
<title>BiQ App - Dashboard</title>
<meta charset="UTF-8"/>
<% include ./includes/biqapps %>
<script type="text/javascript" src="/node_modules/rita/lib/rita.js"></script>
</head>
<body>
	<div class="page-wrapper">
		
		<aside class="menu-sidebar">
			<div class="logo">
				<a href="#">
					<img width="200" height="18" src="/img/AppDynamicsLogo_black.svg" alt="AppDynamics" />
				</a>
			</div>
			<nav class="navbar-sidebar">
				<ul class="list-unstyled navbar__list">
					<div id="spinnerDiv"></div>
					<li style="margin-bottom:25px">
						<ul class="nav" id="time"></ul>
					</li>
					<li><a href="#" ><i class="fa fa-download"></i> Devices</a></li>
					<li><a href="#" ><i class="fas fa-desktop"></i> Apps</a></li>
					<li><a href="#" ><i class="fa fa-database"></i> Data</a></li>
					<li><a href="/views/examples/intro.html" ><i class="fa fa-book"></i> Docs</a></li>
				</ul>
				<div id="filter"></div>
			</nav>
		</aside>    
		<div class="page-container">  
        <div class="container-fluid">    
          <!-- Main Page -->
          <div class="row">
            <div class="col-md-9">
              <textarea id="scenario" rows="5" cols="150">
                We would like to have a dashboard that shows the following key metrics Revenue and Total Orders.

              </textarea>
            </div>	
            <div class="col-md-3">
              <button id="build" type="button" style="margin-left:25px;" class="btn btn-secondary">Build Dashboard</button>
            </div>	
          </div>
          <div class="row">
            <div class="col-md-9">
              <div id="dashboard"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
<script type="text/javascript">

    $("#build").click(function() {
      var text = $("#scenario").val();
      parse(text);
    });

    var debug = function(val){
      $("#dashboard").html(val);
    }

    var parse = function(text){
      var rs = new RiString(text);
      rs.analyze();
      var words = rs.words();

      var output = "";
      for (i=0; i<words.length; i++){
          output+="<p>"+words[i]+" > "+rs.posAt(i)+"</p>";
      }
      debug(output);
    }

</script>
</html>
